.loginCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
    background-color: #f1f1f1;
    margin: 250px;  
    height: 200px;
    width: 300px;
    display: inline-block;
}

input {
    margin-top: 15px;
    border-radius: 5px;
    padding-left: 5px;
    width: 200px;
}

button{
    margin-top: 15px;
}